@import url('https://fonts.googleapis.com/css?family=Raleway:500,500i');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: linear-gradient(#16181E, #060709);
  background-repeat: no-repeat;
  color: white;
}

::-webkit-scrollbar { 
  display: none; 
}

canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: .2;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
}

/* code css pour masquer/afficher le header au hover
header * {
  transform: translateY(-100px);
  transition: all 0.6s;
}

header:hover * {
  transform: translateY(0px);
}*/

.menu {
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  right: 20px;
  top: 40%;
}

.menu li {
  text-transform: uppercase;
  position: relative;
  margin-left: 30px;
}

.menu li a {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
  font-size: 12px;
}

.menu li:before {
  content: '';
  background: #DC2E32;
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: -5px;
  transition: all 0.3s;
}

.menu li:hover:before {
  width: 100%;
}

.menu li:nth-child(3):before {
  width: 100%;
}

.background {
  position: fixed;
  z-index: -5;
  width: 100%;
  height: 100vh;
}

.bigwatch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.firstsection {
  
}

.firstsection .line {
  position: absolute;
  z-index: 5;
  height: 2px;
  width: 100%;
  background: white;
  opacity: .5;
  transform-origin: left;
}

.firstsection h2 {
  font-size: 70px;
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 10px;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
}

.firstsection h3 {
  position: absolute;
  bottom: 40%;
  text-transform: uppercase;
  z-index: 5;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 25px;
  line-height: normal;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.7);
  letter-spacing: 0.1em;
}

section .linetitle {
  text-align: center;
  margin-bottom: 10vh;
}

section h4 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
}

section h5 {
  font-family: Cinzel Decorative;
  font-size: 70px;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
}

section .products {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  transform: translateY(25px);
  position: relative;
  z-index: 5;
}

section .productname {
  border: 1px solid white;
  width: 280px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
}

.productname * {
  position: relative;
  z-index: 5;
}

.productname:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 280px;
  height: 0px;
  background: #DC2E32;
  transition: all 0.3s;
}

.productname:hover:before {
  height: 85px;
}

.productname p:first-child {
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 5px;
}

.productname p:nth-child(2) {
  font-size: 12px;
}

section:last-child .navbutton {
  border: 1px solid white;
  height: 50px;
  width: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.navbutton * {
  position: relative;
  z-index: 5;
}

.navbutton:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 285px;
  height: 0px;
  background: #DC2E32;
  transition: all 0.3s;
}

.navbutton:hover:before {
  height: 50px;
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

/* code css pour masquer/afficher le footer au hover
footer * {
  transform: translateY(100px);
  transition: all 0.6s;
}

footer:hover * {
  transform: translateY(0px);
}*/

.socialmedias {
  display: flex;
  flex-direction: row;
}

.socialmedias li {
  margin-right: 10px;
}

.loader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#16181E, #060709);
  background-repeat: no-repeat;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.loader img{
  height: 100px;
  width: 100px;
  animation: gear 10s linear infinite;
}

@keyframes gear{
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}

.tracker{
  position: fixed;
  right: 20px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

.tracker div{
  margin: 10px 0;
  width: 8px;
  height: 8px;
  background-color: #DC2E32;
  border-radius: 50%;
  transition: 0.3s;
}

.tracker div:hover, .tracker div.active{
  transform: scale(2);
  cursor: pointer;
}